@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 2px;
}

td:nth-child(1) {
    width: 20%;
    }
  
  /* the second */
  td:nth-child(2) {
    width: 30%;
  }
  
  /* the third */
  td:nth-child(3) {
    width: 50%;
   }

table{
    width: 90%;
    padding: 10px;
    align-self: center;
    margin-left: 5%;
    margin-right: 5%;
}

body{
  text-align: justify;
  align-content: center;
}

button{
  width: 100%;
}

#sidebar h2 {
  background-color: #00798e;
}

#sidebar a{
  color: 262626;
  background-color: #4DAEA9;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: #00798e;
}

a:visited {
  color: #00798e;
}

#toc ul.nav li.active a {
  color: #262626 !important;
  font-weight: bold;
  background-color: #00798e;
  border-right: solid 0px #00798e !important;
}