@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css");

/* #loading-content {
    position: absolute;
    background: #00525c;
    opacity: 0.9;
    z-index: 100;
    left: 0;
    right: 0;
    height: 100%;
    text-align: center;
    color: #FFFFFF;
  }
*/

.jumbo1 {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;

    background: url("inmobiliaria.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    align-content: center;
}

.jumbo2 {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;

    background: url("empresa_credito.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    align-content: center;
}

.jumbo3 {
    position: absolute;
    width: 100%;
    height: 300px;
    left: 0px;
    top: 0px;

    background: url("Edificios.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
    align-content: center;
}
.informacion{
    position: absolute;
    top: 300px;
}

.btn{
    background-color: #006199;
    font-size: large;
    font-weight: 600;
    padding-left: 10%;
    padding-right: 10%;
}

.imagen{  
    height:100px; 
    width:100px;
    padding-left: 2%;
}

.slider {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 20s infinite alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
    align-content: center;
}

.slider img {
	width: 100%;
    height: 300px;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	40% {margin-left: -100%;}
	60% {margin-left: -200%;}
	80% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.selectize-input  { 
    color: white;
} 

.selectize-input.full{
    background-color: #00798e;
    color: white;
}

.form-control{
    background-color: #00798e;
    color: white;
}

.selectize-input {
    background-color: #00798e;
    color: white;

}

.nav-tabs{
    background-color: #00525c;
}

body{
    text-align: center;
    background-color: #e4e7e6;
}

h1{
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}

p{
    text-align: justify;
    padding: 10px;
    font-size: 15px;
    margin-left: 15%;
    margin-right: 15%;
}